{% extends 'base.html' %}

{% block content %}
    <H1><center>Find'It!</center></H1>
    <p><center> Veuillez rentrez le nom du jeu que vous voulez comparer </center></p>
    <br/>

    <!--searchbar-->
    <div class="container-fluid">
        <form class="d-flex" role="search" method="POST">
          <input class="form-control me-2" type="text" placeholder="Search" name="jeu" value="{{ jeu }}" aria-label="Search">
          <button class="btn btn-outline-success" type="submit" value="Submit">Search</button>
        </form>
    </div>
{% endblock %}




